/* Got Gravity?  Here some form styling remove if you don't need
/* Courtesy of Roots: https://github.com/retlehs/roots
-------------------------------------------------------------------------------*/

.gform_wrapper { margin: 0; max-width: none; }

.gform_wrapper .gform_heading { width: 100%; margin-bottom: 1.5em; }

.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title { font-size: 1.5em; font-weight: 400; }

.gform_wrapper h3.gform_title { margin-top: 0; }

.gform_wrapper .top_label .gfield_label { margin: 6px 0 0 0; }

.gform_wrapper .top_label input.medium { padding-right: 0; }

.gform_wrapper .left_label .gfield_label,
.gform_wrapper .right_label .gfield_label { margin: 10px 10px 0 0; }

.gform_wrapper .left_label ul.gfield_checkbox,
.gform_wrapper .left_label ul.gfield_radio,
.gform_wrapper .right_label ul.gfield_checkbox,
.gform_wrapper .right_label ul.gfield_radio {
    margin: 9px 0 0 31%;
    }

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=file],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper textarea,
.gform_wrapper select {
    font-size:               1em;
    line-height:             14px;
    padding:                 4px;
    margin:                  6px 0;
    border:                  1px solid #bbb;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding;
    background-clip:         padding-box;
    -moz-box-sizing:         border-box;
    -webkit-box-sizing:      border-box;
    box-sizing:              border-box;
    vertical-align:          middle;
    }

.gform_wrapper input[type=text]:focus,
.gform_wrapper input[type=url]:focus,
.gform_wrapper input[type=email]:focus,
.gform_wrapper input[type=tel]:focus,
.gform_wrapper input[type=number]:focus,
.gform_wrapper input[type=password]:focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus {
    border: 1px solid #666;
    }

.gform_wrapper select { padding: 3px; }

.gform_wrapper .small, .gform_wrapper .large { font-size: 1em; line-height: 14px; }

.gform_wrapper ul.right_label li,
.gform_wrapper ul.left_label li,
.gform_wrapper form ul.right_label li,
.gform_wrapper form ul.left_label li {
    margin-bottom: 4px;
    }

.gform_wrapper .description,
.gform_wrapper .gfield_description,
.gform_wrapper .gsection_description,
.gform_wrapper .instruction {
    font-size:  0.9em;
    font-style: normal;
    padding:    0;
    }

.gform_wrapper .right_label .gfield_description,
.gform_wrapper .right_label .instruction,
.gform_wrapper .left_label .gfield_description,
.gform_wrapper .left_label .instruction {
    padding:     0;
    margin-left: 31%;
    }

.gform_wrapper .ginput_complex label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .instruction {
    font-size:      0.9em;
    font-weight:    400;
    letter-spacing: 0;
    margin:         0 0 6px 0;
    }

.gform_wrapper .gfield_checkbox li input[type=checkbox],
.gform_wrapper .gfield_radio li input[type=radio],
.gform_wrapper .gfield_checkbox li input { float: none; display: inline-block; margin-top: 0; vertical-align: middle; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label { display: inline-block; margin: 0 0 0 8px; vertical-align: middle; }

.gform_wrapper .left_label .ginput_complex .ginput_right label,
.gform_wrapper .left_label .ginput_complex .ginput_left label,
.gform_wrapper .right_label .ginput_complex .ginput_right label,
.gform_wrapper .right_label .ginput_complex .ginput_left label { word-spacing: 0; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label { font-weight: 400; }

img.ui-datepicker-trigger { vertical-align: middle; }

.gform_wrapper .gf_progressbar_wrapper { width: 100%; }

.gform_wrapper .gf_page_steps { border-bottom: 1px dashed #ddd; width: 100%; }

.gform_wrapper .gf_step { font-family: sans-serif; }

.gform_wrapper .gf_step span.gf_step_number { font-family: sans-serif; }

.gform_wrapper .gsection { border-bottom: 1px dashed #ddd; }

.gform_wrapper .gform_page_footer { border-top: 1px dashed #ddd; }

.gform_wrapper .gform_footer { margin: 6px 0 0 0; padding: 0; }

.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label { margin: 6px 0 0 0; padding: 0 0 0 31%; }

.gform_footer input.button { *padding: 8px 16px; }

.gform_wrapper .gform_edit_link { display: none; }

.gform_wrapper .validation_error { font-size: 1em; font-weight: 400; padding: 0.8em; margin-bottom: 1.5em; background: #fbe3e4; color: #8a1f11; border: 2px solid #fbc2c4; }

.gform_wrapper .validation_message { display: none; }

.gform_wrapper li.gfield.gfield_error {
    background:    none;
    margin-bottom: 6px !important;
    padding:       0 !important;
    border:        none;
    }

.gform_wrapper .top_label .gfield_error .ginput_container { max-width: none; }

.gform_wrapper .top_label .gfield_error { margin-bottom: 0 !important; }

.gform_wrapper .gfield_error .gfield_label { color: #8a1f11; }

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea { background: #FBE3E4; border-color: #FBC2C4; }

.gform_wrapper .top_label .gfield_error input,
.gform_wrapper .top_label .gfield_error textarea,
.gform_wrapper .top_label .gfield_error select { border-color: #FBC2C4; }

.gform_wrapper .top_label .gfield_error { width: auto; }